* {
    margin: 0;
    padding: 0;
}

#keuzedeel {
    width: 200px;
    height: 200px;
    background: red;
    border: 1px solid black;
    float: left;
}
.login {
    width: 15%;
}


html { 
  background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed; 
  background-size: cover;
}

body {
  background: transparent;
}

.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  margin-top: 15%;
  }


    
      span {
        background: transparent;
        min-width: 53px;
        border: none;

      }
    
    
     input.form-control {

      padding: 10px;
      font-size: 1.6em;
      width: 100%;
      background: white;

    }

    button {
      background: #27AE60;
      border: none;
      font-size: 1.6em;
      font-weight: 300;
      padding: 5px 0;
      width: 100%;
      border-radius: 3px;

    }
  
    .btnwidth {
        width: auto;
    }
    .btn-fixpos {
        float: right;
    }